.section-team {
	padding-top: 50px;
	padding-top: 0;
}
.section-title {
	margin-bottom: 50px;
	color: var(--primary-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
}
.section-title li {
	flex-wrap: wrap;
	display: flex;
	width: 200px;
}
.item-class {
	display: flex;
	gap: 30px;
}

.ourteam-main {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
.our-team-list {
	gap: 10px;
	margin-top: 16px;
	display: flex;
	justify-content: center;
}
.our-team-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	color: #afb1b8;
	border-radius: 50%;

	transition-property: background-color, color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-link {
	&:focus,
	&:hover {
		color: var(--primary-bg-color);
		background-color: var(--primary-text-navigation);
	}
}
.our-team-list {
	gap: 10px;
	margin-top: 16px;
	display: flex;
	justify-content: center;
}
.team {
	background-color: var(--primary-bg-button);
}
